.home {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: flex-start;
}

h2 {
  margin-top: 30px;
}

.bigCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  width: fit-content;
  min-width: 350px;
  height: 200px;
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-weight: normal;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  width: fit-content;
  min-width: 250px;
  height: fit-content;
  padding: 15px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  font-weight: normal;
}

.card:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.12);
}
